.heroCover{
    background-image: url("../../assets/cover.png");
    background-position: center;
    height: 100vh;
}

.heroLeft{
    width: 49%;
    text-align: left;
    display: flex;
    align-items: left;
    justify-content: center;
    height: 80%;
    flex-direction: column;
    font-size: 1.5rem;
    padding: 0px 30px;
    padding-left: 50px;
    text-align: left;
}
.description{
    color: var(--text-white-3);
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
    text-align: left;
    line-height: 30px;
}

.buttonsWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:20px;
}

.buttonsWrapper button{
    cursor: pointer;
}

/* Stats Container */

.statsContainer{
    background-color: rgba(255,255,255,0.03);
    justify-content: center;
    color: var(--text-white-1);
    backdrop-filter: blur(16px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    margin-top: 40px;
    padding: 20px;
    border-radius: 40px;
    width: 90%;
}

.statsItemTitle{
    font-size: medium;
    font-weight: 300;
}

.statsItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.statsItemDescription{
    font-size: 12px;
    font-weight: 300;
}

.trendingBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
    padding:10px 40px;
    font-size: small;
    background-color: var(--bg-dark-secondary);
    color: var(--text-white-3);
}

.trendingTags{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.trendingTags p{
      background-color: var(--surface-light);
      padding: 4px 10px;
      border: 1px solid rgba(255,255,255,0.07);
      transition: all 0.18s;
      border-radius: 80px;
}

